@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.sec-padding {
  padding: 40px 0px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}

.lp {
  padding-left: 104px;
}

.rp {
  padding-right: 104px;
}

.sec-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
}

.form-control {
  font-size: 0.9rem;
}

input::placeholder {
  font-size: 0.9rem;
}

/* header */
header .top-header {
  padding: 18px 0px;
  border-bottom: 1px solid #889397;
}

header .header-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

header .header-cover nav ul {
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  gap: 44px;
}

header .header-cover nav ul li a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
}

.feature-sec .category-box {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 12px 0px;
}

.feature-sec .category-box h3 {
  text-align: center;
  font-size: 1.1rem;
}

.feature-sec .slick-slide {
  margin: 6px;
}

/* offer-sec */
.offer-box {
  padding: 10px;
}

.offer-box .offer-img {
  width: 44px;
  margin-bottom: 14px;
}

.offer-box .offer-content h3 {
  font-size: 1.07rem;
  font-weight: 600;
}

.offer-box .offer-content p {
  font-size: 0.84em;
  font-weight: 500;
}

/* about sec */

.about-content h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.1rem;
}

.about-img img {
  border-radius: 10px;
  width: 100%;
}

/* about sec */

/* fresh-card */
.fresh-card .fresh-box {
  background-color: #f0f3f2;
  border-radius: 10px;
  padding: 30px;
}

.fresh-card .fresh-box .fresh-img {
  width: 120px;
  margin-bottom: 14px;
}

.fresh-card .fresh-box .fresh-img img {
  width: 100%;
}

.fresh-card .fresh-box h4 {
  font-size: 1.22rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.fresh-card .fresh-box p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #889397;
  margin-bottom: 18px;
}

/* product-top-header */
.product-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-top-header .total-products p {
  font-size: 0.9rem;
  color: #889397;
}

.product-top-header .right-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-top-header .right-box .sort-product select {
  font-size: 0.89rem;
  font-weight: 500;
}

/* product-top-header */
/* product Card */
.product-box {
  height: 100%;
}

.product-card .product-box {
  border: 1px solid #dfe2e1;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  transition: 0.1s ease-in;
  position: relative;
  height: 100%;
}

.product-card:hover .product-box {
  border: 1px solid #198754;
}

.product-card .product-box .product-img {
  height: 240px;
}

.product-card .product-box .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .product-box .product-info .product-category {
  font-size: 0.78rem;
  color: #889397;
  font-weight: 500;
}

.product-card .product-box .product-info .product-name a {
  font-size: 0.89rem;
  font-weight: 600;
  color: #000;
}

.product-card .product-box .product-info .product-name a:hover {
  color: #198754;
}

.product-card .product-box .product-info .rating i {
  color: #ffc107;
  font-size: .7rem;
}

.product-card .product-box .product-info .price-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

.product-card .product-box .product-info .price-add p {
  margin-bottom: 0px;
  font-size: 0.9rem;
  font-weight: 500;
}

.product-card .product-box .product-info .price-add p span {
  color: #889397;
  text-decoration: line-through;
  font-weight: 400;
}

.product-card .product-box .product-info .price-add button.btn.btn-success {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 4px 6px;
}

/* product Card */

/* filter-sec */
.filter-sec .filter-box{
  margin-bottom: 18px;
}
.filter-sec .filter-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.filter-sec .filter-item {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 1px solid #dfe2e1;
  padding: 6px 0px;
  font-size: .9rem;
}

.filter-sec .filter-item.active{
  color: #198754;
}

/* product details section */
.product-details-sec .product-img .product-main-img img {
  width: 100%;
  border-radius: 10px;
}

.product-details-sec .product-img .product-sub-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.product-details-sec .product-img .product-sub-img .sub-img img {
  width: 100%;
  border-radius: 10px;
}

.product-details-sec .product-details {
  padding-left: 42px;
}

.product-details-sec .product-details a {
  color: #198754;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}

.product-details-sec .product-details .pro-name {
  font-size: 2rem;
  font-weight: 600;
}

.product-details-sec .product-details .rating {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  gap: 6px;
}

.product-details-sec .product-details .rating .stars i {
  color: #ffc107;
}

.product-details-sec .product-details .rating .review {
  font-size: 0.8rem;
  color: #198754;
  font-weight: 500;
}

.product-details-sec .product-details .price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 14px;
}

.product-details-sec .product-details .price .cut-price {
  color: #889397;
  text-decoration: line-through;
  font-size: 1.1rem;
}

.product-details-sec .product-details .price .offer {
  color: #db3030;
  font-size: 0.9rem;
}

.product-details-sec .product-details p.des {
  font-size: 0.9rem;
}

.product-details-sec .product-details .product-colors button {
  height: 20px;
  width: 20px;
  background: aqua;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 0px 4px;
}

.product-details-sec .product-details .product-colors button.active {
  border: 2px solid #1399fc;
  height: 22px;
  width: 22px;
}

.qty button.qty-btn {
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 10px 0px;
}

.qty .qty-number {
  display: inline-block;
  width: 26px;
  text-align: center;
  font-size: 1rem;
}

.product-details-sec .product-details .product-sub-info table td {
  font-size: 0.94rem;
}

.add-to-cart {
  font-size: 0.98rem;
}

/* product details section */

/* filter sec */
.filter-area .filter-btns {
  display: flex;
  align-items: center;
  gap: 22px;
  border-bottom: 1px solid #dfe2e1;
  padding-bottom: 11px;
}

.filter-area .filter-btns button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 0.9rem;
  color: #000;
}

.filter-area .filter-btns button.active {
  color: #198754;
  padding-bottom: 12px;
  font-weight: 500;
  border-bottom: 2px solid #198754;
  margin-bottom: -12px;
}

.filter-area .filter-box {
  padding-top: 20px;
}

.filter-area .filter-box .filter-items {
  display: none;
}

.filter-area .filter-box .filter-items.active {
  display: block;
}

/* filter sec */

/* contact-sec */
.contact-form h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.contact-form p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* contact-sec */

/* cart sec */
.cart-box .cart-items {
  padding-left: 0px;
  /* margin-bottom: 0px; */
}

.cart-box .cart-items li {
  border-top: 1px solid #dfe2e1;
}

.cart-box .cart-items li:last-child {
  border-bottom: 1px solid #dfe2e1;
}

.cart-box .cart-items .list-name a {
  color: #000;
  font-size: 0.96rem;
  font-weight: 500;
}

.cart-box .cart-items .list-name .remove-item {
  display: flex;
  font-size: 0.8rem;
  gap: 4px;
  align-items: center;
}

.cart-box .cart-items .item-price {
  font-size: 0.9rem;
  font-weight: 500;
}

.summary-box {
  border: 1px solid #dfe2e1;
  border-radius: 10px;
  padding: 20px 28px;
}

.summary-box h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.summary-list {
  padding-left: 0px;
  margin-bottom: 0px;
  border: 1px solid #dfe2e1;
  border-radius: 10px;
}

.summary-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 500;
}

.summary-list li:not(:last-child) {
  border-bottom: 1px solid #dfe2e1;
}

.summary-box p {
  font-size: 0.75rem;
  color: #889397;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .product-details-sec .product-details {
    padding-left: 0px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .lp {
    padding-left: 0px;
  }

  .rp {
    padding-right: 0px;
  }
}